/* Google fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Roboto&display=swap');



/* General styles*/
:root {
    /* SCSS RGB */
    $beaver: rgba(181, 139, 110, 1);
    $blood-red: rgba(113, 0, 0, 1);
    $russet: rgba(116, 61, 35, 1);
    $sinopia: rgba(212, 63, 23, 1);
    $raisin-black: rgba(31, 24, 31, 1);
    $drab-dark-brown: rgba(70, 59, 36, 1);

    /* CSS HEX */
    --beaver: #B58B6Eff;
    --blood-red: #710000ff;
    --russet: #743D23ff;
    --sinopia: #D43F17ff;
    --raisin-black: #1F181Fff;
    --drab-dark-brown: #463B24ff;

}

/* Asterisk wildcard selector to override default styles set by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles*/
    color:#ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hidden-heading {
    display: none;
}

/* Header and logo*/
#header-section a {
    text-decoration: none;
    color: inherit;
}


#header-section {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    /*align-items: top;*/
    background-color: #B58B6Eff;
    /*padding: 0 1rem;*/
    z-index: 100;
}

h1 {
    text-transform: capitalize;
    letter-spacing: 1px;
}

#logo {
    list-style: none;
    font-size: 180%;
    padding: 1rem 0 0 0.5rem;
}

#menu {
    font-size: 150%;
    letter-spacing: 1px;
    list-style-type: none;
    display: grid;
}

#menu>li {
    margin-bottom: 150px;

}

.active {
    border-bottom: 1px solid #ffffff;
}

/* navbar with dropdown toggle menu*/

nav {
    position: absolute;
    background-color: #B58B6Eff;
    width: 100%;
    height: 100vh;
    display: none;
    top: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: flex;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding: 1rem;
}


/*Main Content*/
main {
    /* make main element take up surplus space to push down footer*/
    flex: 1 0 auto;
    /*Add margin at the top to prevent content from being covered by header*/
    margin-top: 47px;
   /*Enable flex properties for child elements*/
   display: flex;
   flex-direction: column;
}

/*Homepage Section*/
#xmas {
    height: 600px;
    width: 100%;
    background: url("../images/christmasdeko.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(116, 61, 35, 0.6);
    font-size: 130%;
    position: absolute;
    bottom: 30px; 
    width: 75%;
    min-height: 200px;
    padding-left: 10px;
}
/*middle Section of Home with intro*/
#middle {
    height: 600px;
    width: 100%;
    margin: auto;
}

#intro {
padding: 20px;
display: block;
}

#intro p {
margin: 20px 0;
}

#intro {
    color: #463B24ff;
    margin: 7px;
    letter-spacing: 2px;
}

#circle-cover-bg {
    background: url("../images/pexels-cottonbro-studio-3992372.jpg") no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#intro-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*classes schedule*/
#classes >h2 {
        color: #463B24ff;
        margin: 7px;
        letter-spacing: 2px;
    }
    

#age-groups {
    background: url("../images/smallkidscourses.webp") no-repeat center/cover;
    /*takes care of responsiveness with all devices*/
    display: flex;
    flex-wrap: wrap;
}
#age-groups div {
color: #ffffff;
background-color: rgba(0, 0, 0, .6);
padding: 15px;
text-align: center;
/*This will not wrap on screen < 400px wide*/
flex-basis: 200px;
flex-grow: 1;
/*creats grid over background*/
border: 2px solid #ffffff
}
/*Signup Section*/

#signup {
    background-image: url("../images/siebonhead.jpg");
    background-size: cover;
    background-position: 75%;
    padding: 52px 10% 0 10%;
    flex-grow: 1;
}
#signup-form {
    color: #ffffff;
    background-color: rgba(70, 59, 36, 0.6);
    padding: 30px;
    display: grid;
}

#signup-formm>h2 {
    color: #ffffff;
    margin-bottom: 20px; 
}

#signup-logo {
    margin-top: 52px;
}

.text-input {
    background: transparent;
    color: #ffffff; 
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #ffffff;
    border-radius: 2px;   
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: rgba(70, 59, 36, 1);
    color: #ffffff;
}

/*Gallery page*/
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/*Footer*/
#social-networks {
    text-align: center;
    background-color: #B58B6Eff;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

/*Media query: large or landscape phones (576px and up)*/
@media screen and (min-width: 576px) {

    /*Header*/
    #header-section {
        position: absolute;
        height: 75px;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
    }

    /*Gallery*/
    #photos {
        column-count: 2;
        column-gap: 0;
    }

}

/*Media query: Tablets or larger (=/> 768px */
@media screen and (min-width: 768px) {

    /*Header*/
    #header-section {
        position: absolute;
        height: 75px;
    }

    nav {
        display: flex;
        position: relative;
        width: fit-content;
        padding: 1rem;
        top: 0;
        height: inherit;
    }

    #menu,
    li {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
        margin-bottom: 0;
        text-align: center;
        font-size: 100%;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
    }

    /*Main Content*/
    main {
        /*push main content down below larger header*/
        margin-top: 75px;
    }

    /*Homepage section*/
     #cover-text {
        width: 300px;
        right: 50px;
     }
    /*Signup Section*/
    #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 100px;
    }
    .text-input:hover {
        border: 2px solid #D43F17ff
        ;
    }
    
    .join-button:hover {
        border: 2px solid #D43F17ff
    }
    /*Gallery*/
    #photos {
        column-count: 3;
    }
}


/*Media query for laptops and larger (992px and above)*/
@media screen and (min-width: 992px) {

    /*Header*/
    #header-section {
        position: absolute;
        height: 90px;
    }

     /*Homepage section*/
     #cover-text {
        right: 400px;
     }
    /*nav {
        display: flex;
        position: relative;
        width: fit-content;
        padding: 1rem;
        top: 0;
        height: inherit;
    }
    #menu, li {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
        margin-bottom: 0;
        text-align: center;
        font-size: 100%;
    }
    .nav-toggle-label {
        display: none;
    }*/
    #logo {
        font-size: 280%;
        line-height: 90px;
    }

    #menu a:hover {
        border-bottom: 1px solid #ffffff;
    }

    /*Main Content*/
/*push main content down below larger header*/
    /*main {
        
    margin-top: 75px;}



    /*Gallery*/
    #photos {
        column-count: 4;
    }
}