/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*General Styles*/


:root {
     /*SCSS RGB*/ 
    --brown-derby: rgba(90, 68, 53, 1);
    --sinopia: rgba(212, 63, 23, 1);
    --raisin-black: rgba(31, 24, 31, 1);
    --drab-dark-brown: rgba(70, 59, 36, 1);

    /* CSS HEX*/
    --brown-derby:  #5b4435;
    --sinopia: #D43F17ff;
    --raisin-black: #1F181Fff;
    --drab-dark-brown: #463B24ff;

    /*font color*/
    --white: #ffffff;
    --raisin-black: #1F181Fff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles*/
    color: #1F181Fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hidden-heading {
    display: none;
}

/* Header and logo*/
#header-section a {
    text-decoration: none;
    color: #ffffff;
}


#header-section {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #5b4435;
    z-index: 100;
}

h1 {
    font-family: 'oswald', sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
}

#logo {
    font-size: 100%;
    padding: 1rem 0 1rem 0.5rem;
}

#menu {
    font-size: 120%;
    letter-spacing: 1px;
    list-style-type: none;
    display: grid;
}

#menu>li {
    margin-bottom: 150px;

}

.active {
    border-bottom: 1px solid #ffffff;
}

/* navbar with dropdown toggle menu*/

nav {
    position: absolute;
    background-color:#5b4435;
    width: 100%;
    height: 100vh;
    display: none;
    top: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: flex;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.32rem;
    padding-right: 0.5rem;
    color: #ffffff;
}


/*Main Content*/
main {
    /* make main element take up surplus space to push down footer*/
    flex: 1 0 auto;
    /*Add margin at the top to prevent content from being covered by header*/
    margin-top: 47px;
    /*Enable flex properties for child elements*/
    display: flex;
    flex-direction: column;
}

/*Homepage Section*/
#xmas {
    height: 450px;
    width: 100%;
    background: url("../images/christmasdeko.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(70, 59, 36, .6);
    color: #ffffff;
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 75%;
    min-height: 200px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

/*middle Section of Home with intro*/

#intro {
    padding: 20px;
    display: block;
}

#intro p {
    margin: 20px 0;
}

#intro-section>h2 {
    color: #463B24ff;
    padding: 20px;
    letter-spacing: 2px;
}

#intro-text {
    color: #463B24ff;
    margin: 7px;
}

#circle-cover-bg {
    background: url("../images/girldecoratingmuffin.webp") no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 350px;
    max-height: 350px;
}

#intro-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px;
}

/*classes schedule*/
.click {
    color: #463B24ff
}

#classes {
    color: #ffffff;
    margin: 7px;
    letter-spacing: 2px;
}

#age-groups {
    background: url("../images/smallkidscourses.webp") no-repeat center/cover;
    /*takes care of responsiveness with all devices*/
    display: flex;
    flex-wrap: wrap;
}

#age-groups div {
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    /*This will not wrap on screen < 400px wide*/
    flex-basis: 200px;
    flex-grow: 1;
    /*creats grid over background*/
    border: 2px solid #ffffff
}

/*Signup Section*/

#signup {
    background-image: url("../images/siebonhead.webp");
    background-size: cover;
    background-position: 75%;
    padding: 52px 10% 0 10%;
    flex-grow: 1;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(70, 59, 36, 0.6);
    padding: 30px;
    display: grid;
}

#signup-formm>h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

#signup-logo {
    margin-top: 52px;
}

.text-input {
    background: transparent;
    color: #ffffff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #ffffff;
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: rgba(70, 59, 36, 1);
    color: #ffffff;
}

/*Gallery page*/
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/*Footer*/
#social-networks {
    text-align: center;
    background-color: #5b4435;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

#social-networks i {
    font-size: 110%;
    padding: 5%;
    color: #ffffff;
}

.copyright {
    background-color: #5b4435;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: left;
    font-size: 90%;
}

/*Media query: large or landscape phones (576px and up)*/
@media screen and (min-width: 576px) {

    /*Header*/

    #logo {
        font-size: 150%;
    }

    .nav-toggle-label {
        font-size: 2rem;
    }

    #cover-text {
        font-size: 130%;
    }

    /*Gallery*/
    #photos {
        column-count: 2;
        column-gap: 0;
    }

}

/*Media query: Tablets or larger (=/> 768px */
@media screen and (min-width: 768px) {

    /*Header*/
    /*#header-section {
        position: absolute;
        height: 75px;
    }*/

    #logo {
        font-size: 180%;
    }

    #menu {
        font-size: 150%;
    }

    nav {
        display: flex;
        position: relative;
        width: fit-content;
        padding: 1rem;
        top: 0;
        height: inherit;
    }

    #menu,
    li {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
        margin-bottom: 0;
        text-align: center;
        font-size: 100%;
    }

    .nav-toggle-label {
        display: none;
    }

    /*Main Content*/
    /*main {
        /*push main content down below larger header
        margin-top: 75px;
    }*/

    /*Homepage xmas section*/
    #cover-text {
        width: 300px;
        right: 50px;
    }

    /*Intro section*/
    #intro {
        display: flex;
        flex-direction: row;
    }

    #intro>div {
        flex: 1;
    }

    #intro-image {
        order: 0;
    }

    #circle-cover-bg {
        max-width: 400px;
        max-height: 400px;
    }

    /*Signup Section*/
    #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 100px;
    }

    .text-input:hover {
        border: 2px solid #D43F17ff;
    }

    .join-button:hover {
        border: 2px solid #D43F17ff
    }

    /*Gallery*/
    #photos {
        column-count: 3;
    }
}


/*Media query for laptops and larger (992px and above)*/
@media screen and (min-width: 992px) {

    /*Header*/
   /* #header-section {
        position: absolute;
        height: 90px;
    }*/

    #logo {
        font-size: 230%;
    }

    #menu a:hover {
        border-bottom: 1px solid #ffffff;
    }

    /*Main Content*/

    /*Homepage section*/
    #cover-text {
        right: 150px;
    }

    /*Gallery*/
    #photos {
        column-count: 4;
    }
}

/*Media query for devices larger 1200 px and above)*/
@media screen and (min-width: 1200px) {
    #circle-cover-bg {
        border-radius: 0%;
        max-width: 600px;
    }
}