/* Google fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Roboto&display=swap');



/* General styles*/
:root {
    /* SCSS RGB */
$beaver: rgba(181, 139, 110, 1);
$blood-red: rgba(113, 0, 0, 1);
$russet: rgba(116, 61, 35, 1);
$sinopia: rgba(212, 63, 23, 1);
$raisin-black: rgba(31, 24, 31, 1);

/* CSS HEX */
--beaver: #B58B6Eff;
--blood-red: #710000ff;
--russet: #743D23ff;
--sinopia: #D43F17ff;
--raisin-black: #1F181Fff;

}

/* Asterisk wildcard selector to override default styles set by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles*/
    color:#ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



/* Header and logo*/
#header-section a {
    text-decoration: none;
    color: inherit;
}


#header-section {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: top;
    background-color: #B58B6Eff;
    padding: 0 1 rem;
    z-index: 100;
}

h1{
    font-family:'Italianno', sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 1rem
}
    
#menu {
font-size: 150%;
letter-spacing: 1px;
list-style-type: none;
display: grid;
}

#menu > li {
    margin-bottom: 150px;
    
}

.active {
    border-bottom: 1px solid #ffffff;
}

/* navbar with dropdown toggle menu*/

nav {
    position: absolute;
    background-color: #B58B6Eff;
    width: 100%;
    height: 100vh;
    padding: 0 1rem;
    display: none;
    top: 80%;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: flex;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding: 1rem 1rem 0 0;
}


/*Main Content*/
main {
    /* make main element take up surplus space to push down footer*/
    flex: 1 0 auto;
    margin-top: 47px;
    /
}

/*Gallery page*/
#photos img {
width: 100%;
line-height: 1em;
}

#photos {
    line-height: 0;
}

/*Footer*/
#social-networks {
    text-align: center;
    background-color: #B58B6Eff;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

/*Media query: large or landscape phones (576px and up)*/
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
    
}
/*Media query: Tablets or larger (=/> 768px */
@media screen and (min-width: 768px) {
    /*Header*/
   #header-section {
    position: absolute;
    height: 107px;
   }
    nav {
        display: flex;
        position: relative;
        width: fit-content;
        padding: 1rem;
        top: 0;
        height: inherit;
    }
    #menu, li {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
        margin-bottom: 0;
        text-align: center;
        font-size: 100%;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 280%;
        line-height: 75px;
    }
    /*Main Content*/
    main {
        /*push main content down below larger header*/
        margin-top: 79px;
    }
    /*Gallery*/
    #photos {
        column-count: 3;
    }
}


/*Media query for laptops and larger (992px and above)*/
@media  screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #ffffff;
    }
    /*Gallery*/
    #photos {S
        column-count: 4;
    }
}
